@charset "UTF-8";

/* =====================
contact
===================== */
.contact {
    margin-bottom: 60px;
}

.contact__title {
    margin-top: 150px;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1;
}

.contact__txt {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 30px;
}

/* =====================
form
===================== */
.form {
    background-color: var(--yellow);
    margin: 30px 4.2% 0;
    border-radius: 20px;
    padding: 40px 6.1%;
}

.form__list {
    margin-top: 30px;
}

.form__list:first-of-type {
    margin-top: 0;
}

.form__title {
    display: none;
}

.form__item {
    margin-top: 20px;
}

.form__category {
    font-size: 1.4rem;
    font-weight: 700;
    display: inline-block;
}

.form__required {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 3px;
    padding: 1px 3px;
    margin-left: 6px;
    height: 14px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea,
select {
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--gray);
    font-size: 1.4rem;
    padding: 7px 18px;
    width: 100%;
    margin-top: 8px;
}

.comment {
    min-height: 120px;
}

.form__radio {
    display: flex;
    gap: 40px;
    margin-top: 8px;
}

.form__label {
    font-size: 1.4rem;
}

input[type="radio"] {
    background-color: var(--white);
    border-radius: 50%;
    border: 1px solid var(--gray);
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

input[type="radio"]:checked {
    position: relative;
}

input[type="radio"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: var(--black);
    border-radius: 50%;
}

.form__number {
    display: flex;
    align-items: flex-end;
    margin-top: 8px;
}

input[type="number"] {
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--gray);
    font-size: 1.4rem;
    padding: 7px 18px;
}

.form__unit {
    font-size: 1.4rem;
    margin-left: 6px;
}

.form__note {
    font-size: 1.2rem;
    display: block;
    margin-top: 4px;
}

/* =====================
form　agreement
===================== */
.agreement__title {
    font-size: 2.0rem;
    font-weight: 700;
    text-align: center;
}

.agreement__content {
    margin-top: 20px;
}

.agreement__txt {
    font-size: 1.2rem;
    display: block;
    margin-top: 4px;
}

.agreement__label {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

input[type="checkbox"] {
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--gray);
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

input[type="checkbox"]:checked {
    position: relative;
}

input[type="checkbox"]:checked::after {
    display: inline-block;
    content: '';
    width: 16px;
    height: 8px;
    border-left: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.form__action {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.submit__btn {
    background-color: var(--pink);
    justify-content: center;
}

.submit__btn:hover {
    background-color: #F96F63;
}

/* focus */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="radio"]:focus,
input[type="number"]:focus,
input[type="checkbox"]:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: var(--skyblue);
    box-shadow: 0 0 0 3px rgba(63, 168, 184, 0.3);
}

/* 切り替え　js */
.form__order,
.form__gift,
.form__other {
    display: none;
}

/* pc */
@media screen and (min-width: 769px) {

    /* =====================
    contact
    ===================== */
    .contact {
        margin-bottom: 80px;
    }

    .contact__title {
        margin-top: 180px;
    }

    .contact__txt {
        font-size: 1.8rem;
        margin-top: 40px;
    }

    /* =====================
    form
    ===================== */
    .form {
        margin: 40px auto 0;
        padding: 60px 0;
        max-width: 600px;
    }

    .form__list {
        max-width: 500px;
        margin: 40px auto 0;
    }

    .form__list:first-of-type {
        margin-top: 0;
    }

    .form__item {
        margin-top: 30px;
    }

    .form__category {
        font-size: 1.8rem;
    }

    .form__required {
        font-size: 1.4rem;
        padding: 2px 3px;
        margin-left: 8px;
        height: 18px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    textarea,
    select {
        font-size: 1.8rem;
        margin-top: 10px;
    }

    .form__radio {
        margin-top: 10px;
    }

    .form__label {
        font-size: 1.8rem;
    }

    input[type="radio"] {
        width: 18px;
        height: 18px;
        margin-right: 8px;
    }

    input[type="radio"]:checked::after {
        width: 12px;
        height: 12px;
    }

    .form__number {
        margin-top: 10px;
    }

    input[type="number"] {
        font-size: 1.8rem;
    }

    .form__unit {
        font-size: 1.8rem;
        margin-left: 8px;
    }

    .form__note {
        font-size: 1.4rem;
        margin-top: 8px;
    }

    /* =====================
    form agreement
    ===================== */
    .agreement__title {
        font-size: 2.4rem;
    }

    .agreement__content {
        margin-top: 30px;
    }

    .agreement__txt {
        font-size: 1.6rem;
        margin-top: 8px;
    }

    .agreement__label {
        font-size: 2.0rem;
        margin-top: 30px;
    }

    input[type="checkbox"] {
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }

    input[type="checkbox"]:checked {
        position: relative;
    }

    input[type="checkbox"]:checked::after {
        width: 18px;
        height: 10px;
    }

    .form__action {
        margin-top: 30px;
    }
}
