@charset "UTF-8";

/* =====================
loading
===================== */
.loading {
    position: fixed;
    inset: 0;
    background-color: var(--backgraundcolor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.loading__copy {
    font-size: 1.6rem;
    text-align: center;
    line-height: 2;
    opacity: 0;
    animation: loading__copy--fadeIn 0.8s ease forwards;
}

@keyframes loading__copy--fadeIn {
    to {
        opacity: 1;
    }
}

.loading__cookie {
    position: relative;
    width: 100px;
    margin-top: 30px;
}

.cookie {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.cookie__before {
    opacity: 1;
    animation:
        cookie--before 2.4s steps(1, end) forwards,
        cookie--bite 0.4s ease forwards 0.4s;
}

.cookie__after {
    opacity: 0;
    animation: cookie--after 2.4s steps(1, end) forwards;
}

@keyframes cookie--before {

    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

@keyframes cookie--bite {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    25% {
        transform: translateY(-2px) rotate(-2deg);
    }

    50% {
        transform: translateY(2px) rotate(2deg);
    }

    75% {
        transform: translateY(-1px) rotate(-1deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

@keyframes cookie--after {

    0%,
    49% {
        opacity: 0;
    }

    50%,
    100% {
        opacity: 1;
    }
}

.loading.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease;
}

/* =====================
about
===================== */
.about {
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;
    min-height: 180vh;
}

/* =====================
background
===================== */
.bg__item {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.bg__item--blue {
    top: 0;
    right: -13.3%;
    width: 66.7%;
}

.bg__item--orange {
    top: 20%;
    right: -13.3%;
    width: 66.7%;
}

.bg__item--brown {
    top: 7%;
    right: -21.3%;
    width: 53.3%;
}

.bg__item--pink {
    top: 5%;
    left: -32%;
    width: 66.7%;
}

.bg__item--green {
    top: 20%;
    left: -10.6%;
    width: 53.3%;
}

.bg__item--purple {
    top: 33%;
    right: -18.6%;
    width: 40%;
}

.bg__item--yellowgreen {
    top: 43%;
    left: -26.6%;
    width: 53.3%;
}

.bg__item--yellow {
    top: 57%;
    right: -13.3%;
    width: 66.7%;
    transform: rotate(26deg);
}

.bg__item--skyblue {
    top: 77%;
    right: -21.3%;
    width: 66.7%;
}

.bg__item--red {
    top: 86%;
    left: -18.6%;
    width: 53.3%;
}

/* bg__item animation */
.bg__item.show {
    opacity: 1;
    transition: opacity 3s ease;
}

.bg__item.active {
    animation: bg__item--float 6s ease-in-out infinite;
}

.bg__item:nth-child(odd) {
    animation-duration: 7s;
}

.bg__item:nth-child(even) {
    animation-duration: 5.5s;
}

.bg__item:nth-child(3n) {
    animation-delay: -2s;
}

@keyframes bg__item--float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0);
    }
}

/* background pc */
@media screen and (min-width: 769px) {
    .bg__item--blue {
        top: 0;
        right: -6%;
        width: 41.6%;
    }

    .bg__item--orange {
        top: 20%;
        right: -8%;
        width: 48.6%;
    }

    .bg__item--brown {
        top: 8%;
        right: 3%;
        width: 34.7%;
    }

    .bg__item--pink {
        top: 5%;
        left: -7%;
        width: 48.6%;
    }

    .bg__item--green {
        top: 22%;
        left: -5%;
        width: 41.6%;
    }

    .bg__item--purple {
        top: 33%;
        right: -4.5%;
        width: 27.7%;
    }

    .bg__item--yellowgreen {
        top: 43%;
        left: -3.4%;
        width: 34.7%;
    }

    .bg__item--yellow {
        top: 58%;
        right: 14%;
        width: 50%;
        transform: rotate(26deg);
    }

    .bg__item--skyblue {
        top: 78%;
        right: -8%;
        width: 41.6%;
    }

    .bg__item--red {
        top: 87%;
        left: -8.3%;
        width: 34.7%;
    }
}


/* =====================
front
===================== */
.hero {
    display: flex;
    justify-content: center;
}

.hero__group {
    position: relative;
    width: 80%;
    aspect-ratio: 25 / 26;
    margin-top: 120px;
    opacity: 0;
}

.hero__group.show {
    opacity: 1;
    transition: opacity 1.6s ease;
}

.hero__name {
    width: 83.3%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.hero__img {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 13.4%;
    left: 50%;
    transform: translateX(-50%);
}

.about__title {
    text-align: center;
    font-size: 2.0rem;
    line-height: 2;
    margin: 150px auto 0;
}

.about__mainTxt {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.8;
    margin-top: 60px;
}

.about__group {
    margin: 0 12%;
}

.about__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
}

.about__image {
    width: 80%;
    max-width: 400px;
    align-self: flex-end;
}

.about__image img {
    display: block;
    border-radius: 50%;
    width: 100%;
}

.about__description {
    width: 180px;
    align-self: flex-start;
}

.about__txt {
    font-size: 1.4rem;
    margin-top: 21px;
}

.about__content02 .about__image {
    align-self: flex-start;
}

.about__content02 .about__description {
    align-self: flex-end;
}

@media screen and (min-width: 769px) {
    .about {
        padding-bottom: 200px;
    }

    .hero__group {
        width: 80%;
        max-width: 700px;
        margin-top: 160px;
    }

    .about__title {
        font-size: 2.8rem;
        margin: 240px auto 0;
    }

    .about__mainTxt {
        font-size: 1.8rem;
        margin-top: 100px;
    }

    .about__txt {
        font-size: 1.8rem;
        margin-top: 27px;
    }

    .about__content {
        margin: 120px auto 0;
        max-width: 1160px;
    }

    .about__description {
        width: 240px;
    }

    .about__image {
        max-width: 500px;
    }

    .about__content01 .about__description {
        margin-left: 12%;
    }

    .about__content02 .about__description {
        margin-right: 12%;
    }
}

/* =====================
products
===================== */
.section--products {
    background-color: var(--red);
}

.title--products {
    color: var(--white);
}

.section_txt--products {
    color: var(--white);
}

.products__content {
    margin-top: 50px;
}

.products__title {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.products__swiper {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    margin-top: 20px;
    position: relative;
}

.products__list {
    display: flex;
    gap: 25px;
    transition: transform 0.3s ease;
}

.products__item {
    width: 280px;
    height: auto;
    flex-shrink: 0;
}

.products__item img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.products__item p {
    font-size: 1.4rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backgraundcolor);
    padding: 14px;
    height: 70px;
    border-radius: 0 0 20px 20px;
}

.products__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: var(--pink);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow__prev {
    left: 10px;
}

.arrow__next {
    right: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.pagination button {
    margin: 0 1rem;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 16px;
    text-align: center;
    opacity: 1;
    background: var(--gray);
}

.pagination button.active {
    background: var(--white);
}

@media screen and (min-width: 769px) {

    .products__content {
        margin: 50px 4.2% 0;
    }

    .products__list {
        display: flex;
        gap: 25px;
        justify-content: center;
    }

    .products__title {
        font-size: 2.4rem;
    }

    .products__swiper {
        overflow: visible;
        margin-top: 20px;
    }

    .products__item {
        max-width: 280px;
        height: auto;
        flex-shrink: 1;
    }

    .products__arrow {
        display: none;
    }

    .pagination {
        display: none;
    }
}

/* =====================
order-gift
===================== */
.order-gift__group {
    margin: 0 4.2%;
}

.order-gift__content {
    margin-top: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.order-gift__description {
    width: 150px;
}

.order-gift__title {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
}

.order-gift__txt {
    color: var(--white);
    font-size: 1.4rem;
    margin-top: 14px;
}

.order-gift__img {
    width: 60%;
    height: auto;
}

.order-gift__content01 .order-gift__img {
    border-radius: 50% 10px 50% 10px;
}

.order-gift__content02 {
    flex-direction: row-reverse;
}

.order-gift__content02 .order-gift__img {
    border-radius: 10px 50% 10px 50%;
}

@media screen and (min-width: 769px) {
    .order-gift__group {
        margin: 120px auto 0;
        max-width: 1160px;
    }

    .order-gift__content {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        margin: 50px 4.2%;
    }

    .order-gift__description {
        width: 180px;
    }

    .order-gift__title {
        font-size: 2.4rem;
    }

    .order-gift__txt {
        font-size: 1.8rem;
        margin-top: 18px;
    }

    .order-gift__img {
        width: 400px;
        height: 400px;
    }
}

/* =====================
information
===================== */
.map {
    margin: 30px auto 0;
    width: 80%;
    height: 300px;
}

.map iframe {
    width: 100%;
    height: 100%;
    display: block;
}

.information__item {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    justify-content: center;
}

.information__topic {
    font-size: 1.4rem;
    font-weight: 700;
    width: 120px;
    align-items: center;
}

.information__topic img {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 4px;
}

.information__detail {
    width: 180px;
}

.information__txt {
    font-size: 1.4rem;
}

.space {
    display: none;
}

.information__txt--small {
    font-size: 1.2rem;
}

.cta__txt--information {
    color: var(--black);
}

@media screen and (min-width: 769px) {
    .map {
        width: 80%;
        max-width: 1160px;
        margin-top: 60px;
    }

    .information__content {
        margin: 30px auto 0;
    }

    .information__topic {
        font-size: 1.8rem;
        width: 140px;
    }

    .information__topic img {
        width: 27px;
        height: 27px;
    }

    .information__detail {
        width: 450px;
    }

    .information__txt {
        font-size: 1.8rem;
    }

    .space {
        display: inline-block;
        width: 18px;
    }

    .information__txt--small {
        font-size: 1.4rem;
    }
}

/* =====================
faq
===================== */
.section--faq {
    background-color: var(--red);
}

.title--faq {
    color: var(--white);
}

.faq__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 4.2% 0;
}

.faq__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    transition: 0.5s;
}

.faq__question {
    background-color: var(--white);
    border-radius: 20px;
    padding: 14px 18px;
    width: 100%;
    max-width: 500px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition:
        transform 0.25s ease,
        box-shadow 0.25s ease;
}

/* Q icon */
.faq__question::before {
    content: '';
    width: 36px;
    height: 36px;
    background-image: url(../images/Q.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 12px;
}

.faq__txt {
    font-size: 1.4rem;
    flex: 1;
}

.faq__img {
    width: 36px;
    height: 36px;
    position: relative;
    cursor: pointer;
}

/* + - icon */
.faq__img img {
    position: absolute;
    inset: 0;
    transition:
        opacity 0.4s ease,
        transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.faq__img--plus {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

.faq__img--minus {
    opacity: 0;
    transform: rotate(-180deg) scale(0.8);
}

.faq__question:hover .faq__img--plus {
    transform: scale(1.2);
}

.faq__question:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

/* faq open */
.faq__item[open] .faq__img--plus {
    opacity: 0;
    transform: rotate(180deg) scale(0.8);
}

.faq__item[open] .faq__img--minus {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

.faq__answer {
    background-color: var(--yellow);
    border-radius: 20px;
    padding: 14px 18px;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 8px;
    overflow: hidden;
}

/* A icon */
.faq__answer::before {
    content: '';
    width: 36px;
    height: 36px;
    background-image: url(../images/A.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 12px;
}

@media screen and (min-width: 769px) {
    .faq__content {
        margin-top: 60px;
    }

    .faq__question {
        padding: 20px 24px;
        max-width: 700px;
    }

    .faq__txt {
        font-size: 1.8rem;
    }

    .faq__img {
        width: 48px;
        height: 48px;
    }

    .faq__img img {
        width: 48px;
        height: 48px;
        inset: 0;
    }

    /* Q icon */
    .faq__question::before {
        width: 48px;
        height: 48px;
        margin-right: 28px;
    }

    .faq__answer {
        padding: 20px 24px;
        max-width: 700px;
        margin-top: 8px;
    }

    .faq__answer .faq__txt {
        width: 576px;
    }

    /* A icon */
    .faq__answer::before {
        width: 48px;
        height: 48px;
        margin-right: 28px;
    }
}

/* =====================
news
===================== */
.cta__txt--news {
    color: var(--black);
}

.carousel {
    overflow: hidden;
    width: 100%;
    margin-top: 40px;
}

.carousel__inner {
    display: flex;
    gap: 20px;
    white-space: nowrap;
}

.carousel__item {
    display: block;
    object-fit: cover;
    flex-shrink: 0;
    width: 60%;
    height: auto;
    aspect-ratio: 4 / 3;
    border-radius: 30%;
}

@media screen and (min-width: 769px) {
    .carousel {
        margin-top: 60px;
    }

    .carousel__item {
        width: 400px;
    }
}
