@charset "UTF-8";

/* =====================
information
===================== */
.information {
    margin: 0 4.2% 30px;
}

.information__title {
    margin-top: 150px;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1;
}

.map {
    margin: 30px auto 0;
    width: 100%;
    height: 300px;
}

.map iframe {
    width: 100%;
    height: 100%;
    display: block;
}

/* =====================
content
===================== */
.information__list {
    margin: 40px auto 0;
}

.information__item {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    justify-content: center;
    gap: 10px;
}

.item__term {
    font-size: 1.4rem;
    font-weight: 700;
    width: 36%;
    max-width: 120px;
}

.item__term img {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 4px;
}

.item__desc {
    font-size: 1.4rem;
    width: 64%;
    max-width: 240px;
}

.information__txt--small {
    font-size: 1.2rem;
}

/* =====================
exterior
===================== */
.information__exterior {
    width: 100%;
    margin: 40px auto 0;
    position: relative;
    aspect-ratio: 3 / 2;
}

.exterior__img {
    border-radius: 50%;
}

.exterior__txt {
    font-size: 1.4rem;
    position: absolute;
    top: 0;
    right: 0;
}

.exterior__img01 {
    width: 50%;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 0;
    left: 0;
}

.exterior__img02 {
    width: 40%;
    aspect-ratio: 1 / 1;
    position: absolute;
    bottom: 0;
    left: 50%;
}

@media screen and (min-width: 769px) {

    /* =====================
    information
    ===================== */
    .information {
        margin: 0 4.2%;
    }

    .information__title {
        margin-top: 180px;
    }

    .map {
        margin-top: 40px;
        width: 100%;
        max-width: 1160px;
    }

    /* =====================
    content
    ===================== */
    .information__content {
        display: flex;
        margin: 60px auto 0;
        justify-content: space-between;
        max-width: 1000px;
        gap: 10px;
    }

    .information__list {
        margin: 0;
    }

    .item__term {
        font-size: 1.8rem;
        width: 150px;
    }

    .item__term img {
        width: 27px;
        height: 27px;
        margin-right: 8px;
    }

    .item__desc {
        font-size: 1.8rem;
        width: 280px;
    }

    .information__txt--small {
        font-size: 1.4rem;
    }

    /* =====================
    exterior
    ===================== */
    .information__exterior {
        width: 80%;
        max-width: 500px;
        margin: 0;
    }

    .exterior__txt {
        font-size: 1.8rem;
    }

    .exterior__img01 {
        max-width: 300px;
    }

    .exterior__img02 {
        max-width: 240px;
    }
}
