@charset "UTF-8";

.thanks {
    margin: 0 4.2% 30px;
}

.thanks__title {
    margin-top: 80px;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1;
}

.thanks__title span {
    display: inline-block;
    transform: translateY(-40px);
    opacity: 0;
    animation: jumpIn 1s cubic-bezier(.2, .8, .3, 1.2) forwards;
}

.thanks__title .space {
    width: 0.2em;
}

/* Thank you! animation */
.thanks__title span:nth-child(1) {
    animation-delay: 0.05s;
}

.thanks__title span:nth-child(2) {
    animation-delay: 0.10s;
}

.thanks__title span:nth-child(3) {
    animation-delay: 0.15s;
}

.thanks__title span:nth-child(4) {
    animation-delay: 0.20s;
}

.thanks__title span:nth-child(5) {
    animation-delay: 0.25s;
}

.thanks__title span:nth-child(6) {
    animation-delay: 0.30s;
}

.thanks__title span:nth-child(7) {
    animation-delay: 0.35s;
}

.thanks__title span:nth-child(8) {
    animation-delay: 0.40s;
}

.thanks__title span:nth-child(9) {
    animation-delay: 0.45s;
}

.thanks__title span:nth-child(10) {
    animation-delay: 0.50s;
}

@keyframes jumpIn {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    60% {
        opacity: 1;
        transform: translateY(8px);
    }

    80% {
        opacity: 1;
        transform: translateY(-4px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.thanks__txt {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 40px;
}

.thanks__img {
    width: 60%;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 30px;
}

.thanks__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cta__txt--thanks {
    color: var(--black);
}

/* pc */
@media screen and (min-width: 769px) {
    .thanks {
        margin: 0 4.2% 60px;
    }

    .thanks__title {
        margin-top: 100px;
    }

    .thanks__txt {
        font-size: 1.8rem;
        margin-top: 60px;
    }

    .thanks__img {
        width: 400px;
        margin-top: 30px;
    }
}